@charset "utf-8";
/* CSS Document */
.Utility {
		color: black;
}	
.NodeName {
	font-weight:bold;
	color: #056BB0;	
}
.AttributeName 
{
	font-weight:bold;
	color: red;
}
.AttributeValue
{
	color:grey;
}
.NodeValue
{
	color: black;
}
.Element {
	//border-left-color:#00FF66;
	//border-left-width:thin;
	//border-left-style:solid;
	padding-top:0px;
	margin-top:0px;
}
.Clickable {	
	font-weight:900;
	font-size:large;
	color: #056BB0;	
	cursor:pointer;

	vertical-align:middle;
}
