[submodule "mast/installer/packages/mast.xor"]
	path = mast/installer/packages/mast.xor
	url = https://github.com/mcindi/mast.xor
[submodule "mast/installer/packages/mast.timestamp"]
	path = mast/installer/packages/mast.timestamp
	url = https://github.com/mcindi/mast.timestamp
[submodule "mast/installer/packages/mast.pprint"]
	path = mast/installer/packages/mast.pprint
	url = https://github.com/mcindi/mast.pprint
[submodule "mast/installer/packages/mast.plugin_utils"]
	path = mast/installer/packages/mast.plugin_utils
	url = https://github.com/mcindi/mast.plugin_utils
[submodule "mast/installer/packages/mast.plugins"]
	path = mast/installer/packages/mast.plugins
	url = https://github.com/mcindi/mast.plugins
[submodule "mast/installer/packages/mast.logging"]
	path = mast/installer/packages/mast.logging
	url = https://github.com/mcindi/mast.logging
[submodule "mast/installer/packages/mast.hashes"]
	path = mast/installer/packages/mast.hashes
	url = https://github.com/mcindi/mast.hashes
[submodule "mast/installer/packages/mast.datapower.web"]
	path = mast/installer/packages/mast.datapower.web
	url = https://github.com/mcindi/mast.datapower.web
[submodule "mast/installer/packages/mast.datapower.system"]
	path = mast/installer/packages/mast.datapower.system
	url = https://github.com/mcindi/mast.datapower.system
[submodule "mast/installer/packages/mast.datapower.status"]
	path = mast/installer/packages/mast.datapower.status
	url = https://github.com/mcindi/mast.datapower.status
[submodule "mast/installer/packages/mast.datapower.ssh"]
	path = mast/installer/packages/mast.datapower.ssh
	url = https://github.com/mcindi/mast.datapower.ssh
[submodule "mast/installer/packages/mast.datapower.network"]
	path = mast/installer/packages/mast.datapower.network
	url = https://github.com/mcindi/mast.datapower.network
[submodule "mast/installer/packages/mast.datapower.developer"]
	path = mast/installer/packages/mast.datapower.developer
	url = https://github.com/mcindi/mast.datapower.developer
[submodule "mast/installer/packages/mast.datapower.deployment"]
	path = mast/installer/packages/mast.datapower.deployment
	url = https://github.com/mcindi/mast.datapower.deployment
[submodule "mast/installer/packages/mast.datapower.datapower"]
	path = mast/installer/packages/mast.datapower.datapower
	url = https://github.com/mcindi/mast.datapower.datapower
[submodule "mast/installer/packages/mast.datapower.backups"]
	path = mast/installer/packages/mast.datapower.backups
	url = https://github.com/mcindi/mast.datapower.backups
[submodule "mast/installer/packages/mast.datapower.accounts"]
	path = mast/installer/packages/mast.datapower.accounts
	url = https://github.com/mcindi/mast.datapower.accounts
[submodule "mast/installer/packages/mast.daemon"]
	path = mast/installer/packages/mast.daemon
	url = https://github.com/mcindi/mast.daemon
[submodule "mast/installer/packages/mast.cron"]
	path = mast/installer/packages/mast.cron
	url = https://github.com/mcindi/mast.cron
[submodule "mast/installer/packages/mast.config"]
	path = mast/installer/packages/mast.config
	url = https://github.com/mcindi/mast.config
[submodule "mast/installer/packages/mast.cli"]
	path = mast/installer/packages/mast.cli
	url = https://github.com/mcindi/mast.cli
[submodule "mast/installer/packages/commandr"]
	path = mast/installer/packages/commandr
	url = https://github.com/tellapart/commandr
[submodule "mast/installer/packages/cherrypy"]
	path = mast/installer/packages/cherrypy
	url = https://github.com/cherrypy/cherrypy
[submodule "mast/installer/packages/paramiko"]
	path = mast/installer/packages/paramiko
	url = https://github.com/paramiko/paramiko
[submodule "mast/installer/packages/markdown"]
	path = mast/installer/packages/markdown
	url = https://github.com/waylan/Python-Markdown
[submodule "mast/installer/packages/ecdsa"]
	path = mast/installer/packages/ecdsa
	url = https://github.com/warner/python-ecdsa
[submodule "mast/installer/packages/mast.datapower.deploy"]
	path = mast/installer/packages/mast.datapower.deploy
	url = https://github.com/mcindi/mast.datapower.deploy
[submodule "mast/installer/packages/dulwich"]
	path = mast/installer/packages/dulwich
	url = https://github.com/jelmer/dulwich
[submodule "mast/installer/packages/mast.test"]
	path = mast/installer/packages/mast.test
	url = https://github.com/mcindi/mast.test
[submodule "mast/installer/packages/mast.datapower.crypto"]
	path = mast/installer/packages/mast.datapower.crypto
	url = https://github.com/mcindi/mast.datapower.crypto
[submodule "mast/installer/packages/mast.testsuite"]
	path = mast/installer/packages/mast.testsuite
	url = https://github.com/mcindi/mast.testsuite
[submodule "mast\\installer\\packages\\cheroot"]
	path = mast\\installer\\packages\\cheroot
	url = https://github.com/cherrypy/cheroot
[submodule "mast\\installer\\packages\\setuptools_scm"]
	path = mast\\installer\\packages\\setuptools_scm
	url = https://github.com/pypa/setuptools_scm
[submodule "mast\\installer\\packages\\setuptools_scm_git_archive"]
	path = mast\\installer\\packages\\setuptools_scm_git_archive
	url = https://github.com/Changaco/setuptools_scm_git_archive
