  <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/jquery-ui.min.css" />
        <style>
            {{plugins['css']}}
        </style>
        <link rel="stylesheet" href="/static/css/mast.css" />
        <script src='/static/js/chart.umd.js' ></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.download.js"></script>
        <script src='/static/js/jquery-ui.min.js'></script>
        <script src='/static/js/jquery-pubsub.js'></script>
        <script src='/static/js/mast.js'></script>
        <script src='/static/js/mast-util.js'></script>
        <title>M.A.S.T. for DP</title>
    </head>
    <body>
        <div id="title">McIndi Automated Solutions Tool for IBM DataPower</div>
        <hr />
        <img id="hiddenLoadingIMG" src="/static/images/loading.gif" />

        <form id="addApplianceForm" class="centered">
            <b>Add an appliance</b><br />
            Hostname/Environment: <input type="textbox" name="hostname" />
            <input type="hidden" name="ephemeral_session" value="{{ ephemeral_session }}" />
            Username: <input type="textbox" name="username" />
            Password: <input type="password" name="password"/>
            <label><input type="checkbox" name="global_no_check_hostname" value="value">no_check_hostname</label>
            <input type="button" id="addAppliance" value="Add">
        </form>

        <div id="currentAppliances">
            <i>Current Appliances: </i>
        </div>

        <div id="main">
            <div id="tabs">
                <ul>
                    {{ plugins['tabs'] }}
                </ul>
                    {{ plugins['html'] }}
            </div>
        </div>
        <script>
            $( document ).ready(function(){
                  {{ plugins['js'] }}
            })
        </script>
    </body>
</html>
